         /* portfolio styles */
         .content h1 {
            color: rgb(39, 201, 223);
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #e40909;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #04d148;
        }

        #portfolio a {
            text-decoration: none;
            color: #0c3bd6;
        }